{
    "parser": "@babel/eslint-parser",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "babelrc": false,
            "configFile": false,
            "presets": ["@babel/preset-env"]
        }
    },
    "rules": {
        "arrow-parens": "off",
        "require-jsdoc": "off"
    },
    "extends": [
        "eslint:recommended",
        "google"
    ]
}
